name: Format

on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-python@v4.7.0
      - name: black
        uses: lgeiger/black-action@master
        with: { args: . --check --diff }
